<ul id="slide-out" class="side-nav fixed">
		    <li>
		    	<div class="userView">
			      	<div class="background">
			        	<img src="C://Users/rsfraga/Documents/img.jpg">
			      	</div>
		      		<a href="#!user"><img class="circle" src="C://Users/rsfraga/Documents/pooh.jpg"></a>
		     		<a href="#!name"><span class="white-text name">Administrador Master</span></a>
		      		<a href="#!email"><span class="white-text email">renatasfraga@gmail.com</span></a>
		    	</div>
		    </li>
		    <li>
		    	<a routerLink='publicacoes'>Publicações</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a routerLink='comentarios'>Comentários</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a routerLink='contatos'>Contatos</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a href="#!">Parceiros</a>
		    </li>
		     <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a href="#!">Sair</a>
		    </li>

		</ul>