<ul id="slide-out" class="side-nav fixed">
		    <li>
		    	<div class="userView">
			      	<div class="background">
			        	<img src="">
			      	</div>
		      		<!--a href="#!user"><img class="circle" src="C://Users/rsfraga/Documents/pooh.jpg"></a-->
		     		<a href="#!name"><span class="white-text name">nome</span></a>
		      		<a href="#!email"><span class="white-text email">Email</span></a>
		    	</div>
		    </li>
		    <li>
		    	<a routerLink='/usuario'>Publicações</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a routerLink="/comentario">Comentários</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a routerLink="/listacontato">Contatos</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a routerLink="/parceiro">Parceiros</a>
		    </li>
		     <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a routerLink="/login">Sair</a>
		    </li>

		</ul>