<div class = "row">
			<div class = "col s4">
		<ul id="slide-out" class="side-nav fixed">
		    <li>
		    	<div class="userView">
			      	<div class="background">
			        	<img src="C://Users/rsfraga/Documents/img.jpg">
			      	</div>
		      		<a href="#!user"><img class="circle" src="C://Users/rsfraga/Documents/pooh.jpg"></a>
		     		<a href="#!name"><span class="white-text name">Administrador Master</span></a>
		      		<a href="#!email"><span class="white-text email">renatasfraga@gmail.com</span></a>
		    	</div>
		    </li>
		    <li>
		    	<a href="#!">Publicações</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a href="#!">Comentários</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a href="#!">Contatos</a>
		    </li>
		    <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a href="#!">Parceiros</a>
		    </li>
		     <li>
		    	<div class="divider"></div>
		    </li>
		    <li>
		    	<a href="#!">Sair</a>
		    </li>

		</ul>
		</div>
		<div class="col s7">
		
				<div id="comentarios"> 
				<h1> Comentários</h1>
					  <ul class="collapsible popout" data-collapsible="accordion">
		        	    <li>
					    <div class="collapsible-header"><i class="material-icons">library_books</i>Comentário 1</div>
					      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
						</li>
		          	    <li>
					      <div class="collapsible-header"><i class="material-icons">library_books</i>Comentário 1</div>
					      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					    </li>
					  </ul>
				</div>

				<div id="publicacoes">
				<h1> Publicações </h1>
					  <a class="waves-effect waves-light btn">Novo</a>

				<table>
			        <thead>
			          <tr>
			              <th>Id</th>
			              <th>Titulo</th>
			              <th>Data</th>
			              <th>Editar</th>
			              <th>Remover</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>1</td>
			            <td>Primeira Postagem</td>
			            <td>12/05/2017</td>
			            <td> <a class="waves-effect waves-light btn">Editar</a></td>
			            <td><a class="waves-effect waves-light btn">Remover</a></td>
			          </tr>
			        </tbody>
		      </table>


				</div>

				
		</div>
