
	<app-menu> </app-menu>
	<app-slide> </app-slide>
	
	<div class="container">
		<div class="row">
			<div style="background:#ffffff" class="col s12">
				<h5 class="titulo"> Sobre Nós </h5>
				<div class="card-content">
					<p> 
						Diversas vezes, no meu dia-a-dia, começo a me dar conta que: "cara, eu sou uma pessoa. Uma pessoa de carne e osso, com sentimentos e com angústias. Eu existo!" (Isto me fez lembrar o grande filósofo René Descartes, com a frase "Penso, logo existo.") E por mais isto que possa ser estranho para você, caro leitor, desde a minha infância carrego estas reflexões internas (e estranhas). 
						Normalmente eu começo a pensar na vida quando estou no ônibus. Motivo: a viagem é longa e a solidão também. Este tempo que eu fico sozinha no ônibus em algumas situações auxilia, mas na maioria delas me atrapalha, pois meu cérebro é basicamente uma máquina de pensar coisas ruins e negativas.
						Na adolescência, lutamos para sermos alguém no qual não somos. Tentamos nos projetar conforme os outros querem, tentamos nos espelhar um cantor famoso, escritor ou ator. Queremos ser tudo, menos nós mesmos. E quando o tempo passa e você percebe que não se tornou aquilo que sonhava, lhe sobra duas opções: se tornar um adulto frustrado e infeliz ou um adulto que almejou um caminho alternativo na sua vida, resumindo, aceitando a si mesmo.
						E nesse aceitar a si mesmo, percebi que devo ser sincera com os meus sentimentos. Mas não só os sentimentos atuais, preciso ir mais fundo, preciso ir na minha infância e entender o porquê sou esta figura tão singular e diferenciada (não pensem que isso é um ponto positivo, pois na verdade, esta singularidade torna-se cada vez mais estranha para mim). 
						Ao rebuscar meu HD mental (que foi ativando lembranças da minha infância no momento em que o ônibus passou na frente da rua onde meu tio morava), descobri intenções de péssimo tom para uma menina da minha idade. Sim, eu era uma criança gulosa e interesseira, sou obrigada a admitir. 
						Mas vamos por partes, quero contar melhor esta história.
						Na minha infância, dos meus 2 aos 13 anos, três vezes ao ano, minha mãe, meu irmão e eu, íamos aos aniversários dos meus primos (partindo do princípio que eu ia três vezes ao ano, você já entende que eu tenho três primos). E lembro muito bem que quando chegava nesta época eu sentia uma grande empolgação, pois sim, "eu adoro aniversários", dizia eu na minha pacata "euforia". 
						Recordando um pouco mais, como era meu comportamento na ocasião? Uma criança que praticamente não se relacionava com os primos e primas devido a sua timidez, além de nenhum adulto levar suas conversas a sério pelo fato de ser uma criança e ter a voz muito fina. Analisando todo este contexto, o que me levava a gostar de participar dos aniversários?
						Neste meio tempo, comecei a lembrar do local que eu permanecia a maior parte do tempo: em torno da mesa. Sim, eu era uma criança gorda, posso lembrar disso, e a maior alegria era comer brigadeiro, risoles de frango (minha paixão até hoje), tortas maravilhosas com glacê muito doce e por fim, aquele pote com salgadinhos para levar para casa, que tinha como destinatário meu pai, porém ele sempre deixava que eu comesse um pouco. 
						Resumindo, desde a minha infância eu não vou nos aniversários pelas pessoas, e sim, pelas guloseimas. Pensei que eu tinha adquirido este péssimo hábito na fase adulta, porém, vamos ser francos: eu não tinha motivo para gostar de ir nas festas, sempre fui a excluída mesmo. Porém a comida sempre foi a motivação maior.
						Talvez esta motivação tenha ficado escondida em meio a tantas pessoas dizendo que devemos ir pelas pessoas, isso acabou sendo mascarado. Mas agora, verificando a fundo a minha vida, posso admitir: COMIDA, VOCÊ É A RAZÃO.
						Sinceridade acima de tudo minha gente. Beijos! 
					</p>
				</div>
			</div>
		</div>
		
	</div>
    <app-footer> </app-footer>