 <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper" style="background:#ec407a">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <a routerLink="/login" style="background:#424242" class="waves-effect waves-light btn">LOGIN</a>
                </ul>
                <ul class="left hide-on-med-and-down">
                  <li><a routerLink="/inicial">INÍCIO</a></li>
                  <li><a routerLink="/parceiros">PARCEIROS</a></li>
                  <li><a routerLink="/sobre">SOBRE</a></li>
                  <li><a routerLink="/contato">CONTATO</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  <li><a routerLink="/inicial">INÍCIO</a></li>
                  <li><a routerLink="/parceiros">PARCEIROS</a></li>
                  <li><a routerLink="/sobre">SOBRE</a></li>
                  <li><a routerLink="/contato">CONTATO</a></li>
                  <li><a routerLink="/login">LOGIN</a></li>
                </ul>
              </div>
            </nav>
        </div> 
        

