<div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper" style="background:#ec407a">
                
                <ul class="left hide-on-med-and-down">
                  <li><a routerLink="/lista">PEDIDOS</a></li>
                  <li><a routerLink="/realizarpedido">REALIZAR PEDIDO</a></li>
                 
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  <li><a routerLink="/lista">PEDIDOS</a></li>
                  <li><a routerLink="/realizarpedido">REALIZAR PEDIDO</a></li>
                </ul>
              </div>
            </nav>
        </div> 
        
