                 
		<h5 class="titulo"> Primeira postagem </h5>
        <div class="card-content">
			<p>
				Pergunta um pouco sugestiva, não acham? Pois bem, no título da obra da Rainha do Crime, Agatha Christie esta frase não é uma 
				pergunta e sim, uma afirmação.Durante o livro há diálogos em que muitas vezes, os personagens se fazem esta pergunta: "É fácil 
				matar?", talvez você inocente leitor que nunca viu sequer um atropelamento de um rato no trânsito pode achar que matar, de fato
				pode ser algo bem difícil, mas lendo este livro sua opinião vai mudar - tenho certeza disso.Então, vamos à história Tudo começa 
				quando um ex-policial aposentado chamado Luke Fitzwillian, senta-se ao lado de uma senhora do trem, que se chama sra. Pinkerton.
				A tal senhora estava disposta a ir até a Scotland Yard - para quem não sabe a Scotland Yard é a sede central ou o quartel general
				da polícia Metropolitana de Londres - para realizar uma denúncia contra um assassino em série que vivia nas bandas de 
				Wychwood-under-Ashe, região no qual a sra. também habitava. Ela disse que precisava impedir que mais um assassinato acontecesse.
				Luke não acreditou em nada que a sra. disse, ele simplesmente achou que ela estava sofrendo daqueles problemas que muitos idosos
				sofrem - de inventar coisas sem cabimento. Num certo dia, Luke lê o jornal e descobre que a sra. Pinkerton havia sido atropelada,
				logo depois que ela havia desembarcado do trem. E a pessoa que ela havia citado que corria perigo, também estava havia falecido. Foi nesse exato momento que Luke sentiu que havia algo estranho. Sim, havia um assassino em série Wychwood e ele iria desvendar sua identidade.
				Luke vai para a casa onde mora a prima de um amigo seu - a Bridget, uma jovem esperta e bonita que era funcionária, mas em breve 
				futura esposa de Lord Whitfield. Lord no qual era um senhor velho, barrigudo, que se vangloriava por ter vindo de uma família pobre 
				e com o esforço de seu trabalho se tornou alguém extremamente rico, dono de praticamente todas as propriedades daquela cidade.
				História vai e história vem, Luke começa a fazer sua investigação. É importante abrirmos um pequeno parenteses na nossa história,
				comparando a personalidade do nosso ex-policial Luke com os outros detetives da Rainha do Crime, tais como Hercule Poirot e Miss 
				Marple. Luke é um personagem que não tem muita cautela em suas investigações, na verdade, ele se arriscava muito em seus 
				questionamentos. E não se preocupava nem um pouco se estava correndo risco de vida ou se estava revelando seus segredos para a 
				pessoa errada. Já Hercule Poirot e Miss Marple traziam dentro de si um profundo conhecimento da natureza humana, onde não eram 
				necessários grandes interrogatórios. Um olhar, uma dedução, uma ligação de pequenos indícios eram capazes de fazer com que estes
				dois mitos descobrissem o criminoso.
				É importante nós delinearmos a personalidade destes personagens para você, que irá ler a história pela primeira vez, entenda que o texto é escrito de forma bem diferente, pois se tratam de personagens distintos.
				Mesmo estando rodeado de mortes e assassinatos, a obra traz um tom de comédia, principalmente em algumas frases de Luke e da própria Bridget. Nesse processo todo de descobrir o autor dos assassinatos, o ex-policial se apaixona pela jovem Bridget, que lhe corresponde, mesmo de um jeito estranho e diferente dos habituais - o que torna a história uma das mais incríveis da Agatha Christie que já li. E o assassino claro, é uma das pessoas mais improváveis do mundo que eu não irei contar, pois tenho plena confiança que você irá ler muito em breve.
			</p>
									
			<div id="botao_comenta" class="right-align" style="margin:5%;">
                <a class="btn-floating btn-large waves-effect waves-light teal accent-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Comente!"><i class="material-icons">add</i></a>
            </div>
			
            <div id="escondida">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate"
                    [(ngModel)] ='comentario.nome'>
                    <label for="icon_prefix">Nome</label>
                </div>
				
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"
                    [(ngModel)]='comentario.texto'></textarea>
                    <label for="icon_prefix2">Comentário</label>
                </div>
				
                <div class="center-align">
                    <button class="btn waves-effect waves-light" style="background:#424242" (click) = "salvarComentario()">COMENTE
                        <i class="material-icons right">send</i>
                    </button>
				</div>
				
			</div>
		</div>
                          

                       