<div class="carousel carousel-slider center" data-indicators="true">
				    <div class="carousel-fixed-item center">
				    </div>
				    <div class="carousel-item" href="#one!" >
						 <img src='src/img/foto2.png' class="responsive-img">
				    </div>
				    <div class="carousel-item " href="#two!">
								<img src='src/img/foto1.png' class="responsive-img">
				    </div>
				    <div class="carousel-item" href="#three!">
							<img src='src/img/foto3.png' class="responsive-img">
				    </div>
				    <div class="carousel-item" href="#four!">
				      <img src='src/img/foto4.png' class="responsive-img">
					</div>
</div>
