<div class="carousel carousel-slider center" data-indicators="true">
				    <div class="carousel-fixed-item center">
				    </div>
				    <div class="carousel-item red white-text" href="#one!" style="background:url(src/img/livro1.jpg)">
				      
				    </div>
				    <div class="carousel-item amber white-text" href="#two!" style="background:url(src/img/livro2.jpg)">
				      
				    </div>
				    <div class="carousel-item green white-text" href="#three!" style="background:url(src/img/livro3.jpg)">
				     
				    </div>
				    <div class="carousel-item blue white-text" href="#four!" style="background:url(src/img/livro5.jpg)">
				      
				    </div>
  			</div>
