 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Torne-se um Parceiro </h5>
                      <div class="col s3">
                            <img src='src/img/slide1.fw.png' id="footers" class="responsive-img">
                      </div>
                      <div class="col s3">
                             <img src='src/img/slide2.fw.png' id="footers" class="responsive-img">
                      </div>
                      <div class="col s3">
                            <img src='src/img/slide3.fw.png' id="footers" class="responsive-img">
                      </div>
                      <div class="col s3">
                            <img src='src/img/slide4.fw.png'  id="footers" class="responsive-img">
                      </div>

                    
                </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="parceiros.html">Parceiros</a></li>
                  <li><a class="grey-text text-lighten-3" href="sobre.html">Sobre</a></li>
                  <li><a class="grey-text text-lighten-3" href="contato.html">Contato</a></li>
                  <li><a class="grey-text text-lighten-3" href="login.html">Login</a></li>
                  <li><a class="grey-text text-lighten-3" href="facebook.com/vidadelivreiro">Facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Copyright © 2017 Todos os direitos reservados.
            </div>
          </div>
        </footer>