<div id="comentarios"> 
				<h1> Comentários</h1>
					  <ul class="collapsible popout" data-collapsible="accordion">
		        	    <li>
					    <div class="collapsible-header"><i class="material-icons">library_books</i>Comentário 1</div>
					      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
						</li>
		          	    <li>
					      <div class="collapsible-header"><i class="material-icons">library_books</i>Comentário 1</div>
					      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
					    </li>
					  </ul>
				</div>