<div id="publicacoes">
				<h1> Publicações </h1>
					  <a class="waves-effect waves-light btn">Novo</a>

				<table>
			        <thead>
			          <tr>
			              <th>Id</th>
			              <th>Titulo</th>
			              <th>Data</th>
			              <th>Editar</th>
			              <th>Remover</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>1</td>
			            <td>Primeira Postagem</td>
			            <td>12/05/2017</td>
			            <td> <a class="waves-effect waves-light btn">Editar</a></td>
			            <td><a class="waves-effect waves-light btn">Remover</a></td>
			          </tr>
			        </tbody>
		      </table>
