
	<mz-modal [fixedFooter]="true">
		<mz-modal-header> Postagem </mz-modal-header>
		<mz-modal-content>
			
			<mz-input-container class="col s11">  
				<input mz-input [label]="'Título:'" id="email-input"type="email" 
        [(ngModel)] = "postagem.titulo">
			</mz-input-container>

		  <mz-textarea-container class="col s11">
          <i mz-icon-mdi mz-textarea-prefix [icon]="'message-reply-text'"> <i>
          <textarea mz-textarea [label]="'Texto:'" id="comment-textarea"
          [(ngModel)] = "postagem.texto"></textarea> 
       </mz-textarea-container>
       
		</mz-modal-content>
		
		<mz-modal-footer>
			<button mz-button [flat]="true" mz-modal-close (click) = "salvarParceiro()">Cadastrar</button>
			<button mz-button [flat]="true" (click) = "limpar()">Limpar</button>
		</mz-modal-footer>
	</mz-modal>