<div class="container">
                <div class="row">
                     <div style="background:#ffffff" class="col s9">
                           <h5 class="titulo"> Pedidos </h5>
               
                    <a data-target="modal_cadastro" class="waves-effect waves-light btn teal accent-4">Novo Pedido</a>
                
                           <table class="responsive-table">
        <thead>
          <tr>
              <th>Nome da obra</th>
              <th>Autor</th>
              <th>Tipo de Literatura</th>
              <th>Descrição</th>
              <th>Editar</th>
              <th> Remover</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
             <td>Alvin</td>
            <td> <a class="waves-effect waves-light btn pink accent-1">Editar</a> </td>
            <td> <a class="waves-effect waves-light btn  pink accent-2">Remover</a> </td>
          </tr>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
             <td>Alvin</td>
            <td> <a class="waves-effect waves-light btn pink accent-1">Editar</a> </td>
            <td> <a class="waves-effect waves-light btn  pink accent-2">Remover</a> </td>
          </tr>
         <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
             <td>Alvin</td>
            <td> <a class="waves-effect waves-light btn pink accent-1">Editar</a> </td>
            <td> <a class="waves-effect waves-light btn  pink accent-2">Remover</a> </td>
          </tr>
        </tbody>
      </table>
                     </div>
                      <div style="background:#ffffff" class="col s1">
                      </div>
                      <div style="background:#ffffff" class="col s3">
                         <div id="sidebar">
                              <h5> Perfil </h5>
                        <div class="card-content">
                          <p> Nome: </p>
                          <p> Sobre </p>
                           <a class="waves-effect waves-light btn pink accent-1">Editar</a> 
</div>
                      </div>

  <div id="modal_cadastro" class="modal">
    <div class="modal-content">
      <h4>Adicionar Pedido</h4>
      <div class="row">
        <form class="col s12">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="image_url" type="text" class="validate">
              <label for="image_url">Nome da obra:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="image_title" type="text" class="validate">
              <label for="image_title">Autor:</label>
            </div>
          </div>    
          <div class="row">
            <div class="input-field col s12">
              <input id="image_title" type="text" class="validate">
              <label for="image_title">Tipo de literatura:</label>
            </div>
          </div>    
          <div class="row">
            <div class="input-field col s12">
              <textarea id="image_description" type="text" class="materialize-textarea validate"></textarea>
              <label for="image_description">Descrição: (ano, edição, etc) </label>
            </div>
          </div>             
        </form>
      </div>
      <div class="modal-footer">
      <a class=" modal-action waves-effect  btn-flat">CADASTRAR</a>
       <a class=" modal-close waves-effect  btn-flat">CANCELAR</a>
    </div>
    </div>
    
  </div>