<div class="container">
         <div class="row">
              <div class = "col s4">
                  <app-menu-adm> </app-menu-adm>
              </div>
        <div class="col s7">
                  
				<div id="parceiros"> 
				    <h1> Parceiros </h1>
					  <table>
              <tr>
                  <th>Id</th>
                  <th>Página</th>
                  <th>Url</th>
                  <th>Web Master</th>
                  <th>E-mail</th>
              </tr>
             <tr *ngFor='let parceiro of parceiros;let ind=index'>
                <td>{{parceiro.id}}</td>
                <td>{{parceiro.nomePagina}}</td>
                <td>{{parceiro.urlPagina}}</td>
                <td>{{parceiro.nomeWebMaster}}</td>
                <td>{{parceiro.email}}</td>
            </tr>
        </table>
				</div>
         </div>
</div>
</div>