 <div class="container center-align">
     
        <img src="/src/img/fundoparceiros.fw.png" style="z-index: 1;" class="responsive-img">
     
                <div class="row" align="center">
                  <div class="col s3">
                      <a href="#modal1"><img src="/src/img/taylor-icon.fw.png" id='parsa1' class="responsive-img"></a>

                      <!-- Modal Structure -->
                      <div id="modal1" class="modal">
                        <div class="modal-content">
                          <h4>Taylor Swift Brasil</h4>
                          <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                      </div>

  

                  </div>
                  <div class="col s3">
                     <a href="#modal2"><img src="/src/img/taylor-icon.fw.png" id='parsa1' class="responsive-img"></a>

                      <!-- Modal Structure -->
                      <div id="modal2" class="modal">
                        <div class="modal-content">
                          <h4>Drake Bell</h4>
                          <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                      </div>
                  </div>
                  <div class="col s3">
                    <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
                  <div class="col s3">
                       <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
                </div>
                   <div class="row" align="center">
                  <div class="col s3">
                    <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
                  <div class="col s3">
                     <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
                  <div class="col s3">
                       <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">

                  </div>
                  <div class="col s3">
                      <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                 
                         <button style="background:#424242" class="waves-effect waves-light btn modal-trigger" data-target="modal_cadastro">FAÇA PARTE DA FAMÍLIA DE PARCEIROS VIDA DE LIVREIRO</button>
                   
                  </div>
            </div>

  <!-- Modal Structure -->
  <div id="modal_cadastro" class="modal">
    <div class="modal-content">
      <h4>Add an Image</h4>

      <div class="row">
        <form class="col s12">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="image_url" type="text" class="validate">
              <label for="image_url">Image URL</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="image_title" type="text" class="validate">
              <label for="image_title">Title</label>
            </div>
          </div>       
          <div class="row">
            <div class="input-field col s12">
              <textarea id="image_description" type="text" class="materialize-textarea validate"></textarea>
              <label for="image_description">Description</label>
            </div>
          </div>             
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>

         

    </div>
    <app-footer> </app-footer>