 <div class="container center-align">
     
        <img src="/src/img/fundoparceiros.fw.png" style="z-index: 1;" class="responsive-img">
     
                <div class="row" align="center">
                  <div class="col s3">
                      <a href="#modal1"><img src="/src/img/taylor-icon.fw.png" id='parsa1' class="responsive-img"></a>

                      <!-- Modal Structure -->
                      <div id="modal1" class="modal">
                        <div class="modal-content">
                          <h4>Taylor Swift Brasil</h4>
                          <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                      </div>

  

                  </div>
                  <div class="col s3">
                     <a href="#modal2"><img src="/src/img/taylor-icon.fw.png" id='parsa1' class="responsive-img"></a>

                      <!-- Modal Structure -->
                      <div id="modal2" class="modal">
                        <div class="modal-content">
                          <h4>Drake Bell</h4>
                          <p>A bunch of text</p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                      </div>
                  </div>
                  <div class="col s3">
                    <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
                  <div class="col s3">
                       <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
                </div>
                   <div class="row" align="center">
                  <div class="col s3">
                    <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
                  <div class="col s3">
                     <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
                  <div class="col s3">
                       <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">

                  </div>
                  <div class="col s3">
                      <img src="/src/img/taylor-icon.fw.png" alt="parceiro1" class="responsive-img">
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
            
                         <button style="background:#424242" mz-button (click)="openServiceModal()">FAÇA PARTE DA FAMÍLIA DE PARCEIROS VIDA
                           DE LIVREIRO </button>
                           
                  </div>
            </div>

  

         

    </div>
    <app-footer> </app-footer>