  <div class="container">
		 <div class="row">
				<div style="background:#ffffff;padding-right:2%;padding-left:2%;" class="col s8">
                        	 <div class="row">         
                                 	<h5 class="titulo"> {{titulo}} </h5>
                             </div>        
                              <div class="row">     				
                                    <div class="input-field col s12">
                                        <input id="nomeobra" type="text" class="validate"
                                        [(ngModel)] = "pedido.nomeobra">
                                        <label for="first_name">Nome da obra:</label>
                                    </div>
                            </div>
								
								 <div class="row"> 
               						<div class="input-field col s12">
                                        <input id="autor" type="text" class="validate"
                                        [(ngModel)] = "pedido.autor">
                                        <label for="first_name">Autor:</label>
                                    </div>
								 </div>
                                  <div class="row"> 

                                    <div class="input-field col s12">
                                        <input id="tipolit" type="text" class="validate"
                                        [(ngModel)] = "pedido.tipolit">
                                        <label for="first_name">Tipo de literatura:</label>
                                    </div>
                                  </div>
								

                            <div class="row"> 
                                 <div class="input-field col s12">
                                        <textarea id="icon_prefix2" class="materialize-textarea"
                                        [(ngModel)] = "pedido.descricao"></textarea>
                                        <label for="icon_prefix2">Descrição: </label>
                                        <div class="center-align">
                                             
										  <a (click)="cancelar()" class="waves-effect waves-light btn  red accent-3">Cancelar</a>
									      <a (click)="salvarPedido()" class="waves-effect waves-light btn  red accent-3">Salvar</a>
								
                                         </div>
                            </div>
                    </div>
        		</div>
				
						
				
					<div class="col s1"> </div>
					<div style="background:#ffffff;padding-left:2%;padding-right:2%;" class="col s3">
                        <div class="row"> 
                            <h5> Perfil </h5>

                        </div>
                        <div class="row"> 
                             <div class="card-content">
                                <p> Nome: {{getNome()}} </p>
                                <p> E-mail: {{getEmail()}} </p>
                                <p> Sobre: {{getSobre()}} </p>
								
                                    <div class="center-align"> 
										<a [routerLink] = "['/editar-usuario',getCodigo()]" class="waves-effect waves-light btn pink accent-1">Editar</a>
									</div>      
                            </div>
                         </div>
					    </div>
				
		</div>
	</div>